body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 12%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  padding: 2px 5%;
  /* border-bottom: 2px solid ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.nav a{
  text-decoration: none;
}

.search-bar .search-box{
  position: relative;
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input{
  width: 100%;
  height: 100%;
  background-color: #b9b7b7;
  border-radius: 50px 0 0 50px;
  padding: 0 10px 0 20px;
  font-size: 18px;
  border: none;
  outline: none;
}

.search-box input:focus{
  border: 1.5px solid #35374B;
}

.search-box button{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 0 50px 50px 0;
  border: none;
  outline: none;
}

.search-bar button:hover{
  background-color: #888585;
}

.links ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

ul li{
  margin-left: 40px;
  
}

li a{
  font-size: 18px;
  color: #070F2B;
  text-decoration: none;
}

.exo-links{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exo-links ul{
  position: absolute;
  top: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 21px 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 8px 50px 0 0;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.exo-links ul li{
  position: relative;
  width: 100%;
  margin: 15px 0;
}

h1{
  margin: 0;
}

h2{
  color: #35374B;
  font-size: 30px;
  text-align: center;
  margin-bottom: 65px;
}

h3{
  font-size: .9rem;
}

a{
  color: rgb(56, 56, 56);
}

.image-box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 50px;
}

.image-box .card{
  position: relative;
  width: 480px;
  min-height: 20rem;
  overflow: hidden;
  border-radius: 20px;
}

.image-box .card img{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.name{
  position: absolute;
  left:50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: #FFFBF5;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.footer{
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 100px;
  background: #070F2B;
}

.footer .container{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 40px 100px;
  gap: 2rem;
}

.container .col-left{
  width: 49%;
}

.container .col-right{
  padding-right: 50px;
  width: 49%;
}

.container .col-left img{
  width: 100%;
}

.container .col-right p{
  color: #fff;
  width: 100%;
}

.col-right a{
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 30px;
}

.col-right a:hover{
  background: #fff;
  color: #070F2B;
}

.footer .contact{
  width: 100%;
  background-color: #FFFBF5;
  padding: 50px;
}

.contact .connect-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.contact .connect-box div{
  margin-right: 100px;
  color: #070F2B;
}

.contact .connect-box div h4{
  /* text-align: center; */
  margin-left: 80px;
}

.contact .connect-box div ul{
  list-style: none;
}

.connect-box div ul li a:hover{
  text-decoration: underline;
}

.






























.error-message{
  font-size: 20px;
  text-align: center;
}